<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScheduleGuide — Estudo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script type="module" src="./dep-axios.js"></script>
    
    <div th:replace="~{fragments/header :: header}">Header</div>

    <div class="card shadow-sm">
      <div class="card-header bg-dark text-white">
					<h4 class="mb-0">Tópicos adicionados</h4>
			</div>
			<div class="card-body p-0">
				
				<div th:if="${listaTopicos.isEmpty()}">
					<h5>Nenhum tópico cadastrado, use a página de tópicos para preencher essa lista!</h5>
				</div>

				<div th:if="${!listaTopicos.isEmpty()}" class="list-group list-group-flush" id="accordionTopicos">
					<div th:each="topico, status : ${listaTopicos}">
								
						<button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center py-3 fw-bold bg-light"
							type="button"
							data-bs-toggle="collapse" 
							th:data-bs-target="'#collapse-' + ${status.index}"
							aria-expanded="false" 
							th:attr="aria-controls='collapse-' + ${status.index}">
											
							<span th:text="${topico.nome}">Nome do Tópico</span>
							<span class="badge bg-secondary rounded-pill" th:text="${topico.conteudos.size()}">0</span>
						</button>

						<div class="collapse" th:id="'collapse-' + ${status.index}" data-bs-parent="#accordionTopicos">
							<div class="list-group list-group-flush border-bottom">
												
								<div class="list-group-item ps-4 py-2 text-secondary text-capitalize d-flex justify-content-between align-items-center" 
									th:each="conteudo : ${topico.conteudos}">
									
									<span class="text-secondary text-capitalize" th:text="${conteudo.nome}">Nome do Conteúdo</span>
									
									<a th:href="@{/estudo/{id}(id=${conteudo.id})}" class="btn btn-sm btn-outline-primary">
										<i class="bi bi-eye"></i> Estudar conteúdo
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>

  </body>
</html>