<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tópicos — ScheduleGuide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script type="module" src="./topicos.js"></script>
    
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
      <div class="row justify-content-center">
        <h1>Tópicos</h1>
      </div>
      <div class="row justify-content-center">
        <h2 class="col ms-5">Categorias</h2>
        <button type="button" class="btn btn-primary col-2 me-5" data-bs-toggle="modal" data-bs-target="#novaCat">Nova Categoria</button>
        <div class="modal fade" id="novaCat" data-bs-backdrop="static" tabindex="-1" aria-labelledby="novaCatLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="novaCatLabel">Nova Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="novaCatNome" class="form-label">Nome</label>
                  <input class="form-control" type="text" id="novaCatNome">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCriarCat" aria-label="Adicionar">Adicionar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="editarCat" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editarCatLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="editarCatLabel">Editar Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <input type="hidden" id="editarCatId" value="0">
                  <label for="editarCatNome" class="form-label">Nome</label>
                  <input class="form-control" type="text" id="editarCatNome">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnEditarCat" aria-label="Atualizar">Atualizar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="excluirCat" data-bs-backdrop="static" tabindex="-1" aria-labelledby="excluirCatLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="excluirCatLabel">Excluir Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <input type="hidden" id="excluirCatId" value="0">
                  <p id="excluirCatTexto"></p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnEditarCat" aria-label="Confirmar">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-9 mb-3" id="listaCat"></div>
        <div class="modal fade" id="novoTop" data-bs-backdrop="static" tabindex="-1" aria-labelledby="novoTopLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="novoTopLabel">Novo Topico</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <input type="hidden" id="novoTopId" value="0">
                  <label for="novoTopNome" class="form-label">Nome</label>
                  <input class="form-control" type="text" id="novoTopNome">
                  <label for="novoTopImagem" class="form-label">Caminho para imagem</label>
                  <input class="form-control" type="text" id="novoTopImagem">
                  <label for="novoTopPrioridade" class="form-label">Prioridade</label>
                  <select id="novoTopPrioridade">
                    <option value="0">ALTA</option>
                    <option value="1">MEDIA</option>
                    <option value="2">BAIXA</option>
                  </select>
                  <label for="novoTopCat" class="form-label">Categoria</label>
                  <select id="novoTopCat"></select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCriarTop" aria-label="Adicionar">Adicionar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import {criarCategoria} from "./topicos.js";

      const btnCriarCat = document.getElementById('btnCriarCat');

      function criarCat() {
        criarCategoria();
      }

      btnCriarCat.addEventListener("click", criarCat);
    </script>
    <script>
      const novaCatModal = document.getElementById('novaCat');
      const novaCatNome = novaCatModal.querySelector('#novaCatNome');

      function limparCriacaoCategoria() {
        novaCatNome.value = "";
      }

      novaCatModal.addEventListener('hidden.bs.modal', limparCriacaoCategoria);
    </script>
    <script>
      const editarCatModal = document.getElementById('editarCat');
      const editarCatId = editarCatModal.querySelector('#editarCatId');
      const editarCatNome = editarCatModal.querySelector('#editarCatNome');

      function definirEdicaoCategoria(event) {
        const baseEdicaoCat = event.relatedTarget;
        editarCatId.value = baseEdicaoCat.getAttribute('data-bs-id');
        editarCatNome.value = baseEdicaoCat.getAttribute('data-bs-nome');
      }

      editarCatModal.addEventListener('show.bs.modal', definirEdicaoCategoria);
    </script>
    <script type="module">
      import {editarCategoria} from "./topicos.js";

      const btnEditarCat = document.getElementById('btnEditarCat');

      function editarCat() {
        editarCategoria();
      }

      btnEditarCat.addEventListener("click", editarCat);
    </script>
    <script>
      const excluirCatModal = document.getElementById('excluirCat');
      const excluirCatId = excluirCatModal.querySelector('#excluirCatId');
      const excluirCatTexto = excluirCatModal.querySelector('#excluirCatTexto');

      function definirExclusaoCategoria(event) {
        const baseExclusaoCat = event.relatedTarget;
        excluirCatId.value = baseExclusaoCat.getAttribute('data-bs-id');
        excluirCatTexto.textContent = `Tem certeza de que deseja excluir a categoria ${baseExclusaoCat.getAttribute('data-bs-nome')}?`;
      }

      excluirCatModal.addEventListener('show.bs.modal', definirExclusaoCategoria);
    </script>
    <script type="module">
      import {excluirCategoria} from "./topicos.js";

      const btnExcluirCat = document.getElementById('btnExcluirCat');

      function excluirCat() {
        excluirCategoria();
      }

      btnExcluirCat.addEventListener("click", excluirCat);
    </script>

    <script>
      const novoTopModal = document.getElementById('novoTop');
      const novoTopCat = novoTopModal.querySelector('#novoTopCat');

      function definirCategoriaPadrao(event) {
        const opcaoBase = event.relatedTarget.getAttribute('data-bs-cat');
        novoTopCat.value = opcaoBase;
      }

      novoTopModal.addEventListener('show.bs.modal', definirCategoriaPadrao);
    </script>
    <script type="module">
      import {criarTopico} from "./topicos.js";

      const btnCriarTop = document.getElementById('btnCriarTop');

      function criarTop() {
        criarTopico();
      }

      btnCriarTop.addEventListener("click", criarTop);
    </script>
    <script>
      const novoTopNome = novoTopModal.querySelector('#novoTopNome');
      const novoTopImagem = novoTopModal.querySelector('#novoTopImagem');
      const novoTopPrioridade = novoTopModal.querySelector('#novoTopPrioridade');

      function limparCriacaoTopico() {
        novoTopNome.value = "";
        novoTopImagem.value = "";
      }

      novoTopModal.addEventListener('hidden.bs.modal', limparCriacaoTopico);
    </script>
  </body>
</html>