<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tópicos — ScheduleGuide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script type="module" src="./topicos.js"></script>
    
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div class="container">
      <div class="row justify-content-center">
        <h1>Tópicos</h1>
      </div>
      <div class="row justify-content-center">
        <h2 class="col ms-5">Categorias</h2>
        <button type="button" class="btn btn-primary col-2 me-5" data-bs-toggle="modal" data-bs-target="#novaCat">Nova Categoria</button>
        <div class="modal fade" id="novaCat" data-bs-backdrop="static" tabindex="-1" aria-labelledby="novaCatLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="novaCatLabel">Nova Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="novaCatNome" class="form-label">Nome</label>
                  <input class="form-control" type="text" id="novaCatNome">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCriarCat" data-bs-dismiss="modal" aria-label="Adicionar">Adicionar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-9 mb-3" id="listaCat"></div>
      </div>
    </div>

    <script type="module">
      import {criarCategoria} from "./topicos.js";

      const btnCriarCat = document.getElementById('btnCriarCat');

      function criarCat() {
        criarCategoria();
      }

      btnCriarCat.addEventListener("click", criarCat);
    </script>
    <script>
      const modalCat = document.getElementById('novaCat');
      const text = modalCat.querySelector('#novaCatNome');

      function limparTexto() {
        text.value = "";
      }

      modalCat.addEventListener('hidden.bs.modal', limparTexto);
    </script>
  </body>
</html>